<nav role="navigation">
    <div class="navbar-header">
      <%= link_to "Home", root_path %>
    </div>
    <div class="sign-in-out">
      <% if !current_user %>
      	<%= link_to "Sign In", new_user_session_path %>
    	<% else %>
        <%= link_to "Settings", edit_user_registration_path %>
      	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    	<% end %>
    </div>
</nav>
<p>
  <% if current_user  %>
    Following: <%= current_user.following_users.count%>
    Followers: <%= current_user.followers.count%>
  <% end %>
</p>